.btnstyle
{
	text-decoration: none;
	color:#1c1c1c;
}
/*Fontions TriTab*/
.tritab
{
	height:350px;
	overflow-y: hidden;
	width:100%;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.tritab ul
{
	padding:0;
	margin:0;
}

.tritab ul li a
{
	text-decoration: none;
	color:#1c1c1c;
}

/*Fonctions Panel, Overture et fermeture + Style*/
.opening
{
	height:0px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.panel
{
	height:50px;
	width:100%;
	background-color:#ababab;
}

/*Style et Fonctions des slides*/
.slider
{
	height:0px;
	width:100%;
	background-color:#313131;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	overflow-y: hidden;
	color :white;
}

.slideropen
{
	height:50px;
	width:100%;
	background-color:#313131;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.aligntext
{
	float:right;
}

.btnderoul
{
	float:left;
}